body {
    border: 2px solid rgba(0,0,0,0.4);
    padding-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Times New Roman', Times, serif;
}

.pd1{
    position: relative;
    text-align: center;
    font-style: italic;
}

.pd2{
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: px;
}

hr{
    height: 2px;
    background-color: rgba(0,0,0,0.2);    
    margin-right: 12px;
}